<div class="row">
	<h2>Your Recipe Book</h2>
</div>

<div class="row">
	<accordion close-others="true" ng-hide="allEmpty">
		<accordion-group ng-show="appetizerLength > 0">
			<accordion-heading>Appetizers</accordion-heading>
			<div class="list-group" id="recipeApps">
				<p class="input-group clearfix" ng-repeat="rec in recipeApps | orderByPriority">
					<span class="form-control"><a href="#/myRecipes/{{appetizerType}}/{{rec.$id}}">{{rec.name}}</a></span>
					<span class="input-group-btn">
						<a class="btn btn-primary" href="#/myRecipes/edit/{{appetizerType}}/{{rec.$id}}">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button type="button" class="btn btn-danger" ng-click="deleteRecipe(rec.$id, rec.name, appetizerType)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</span>
				</p>
			</div>
		</accordion-group>
		<accordion-group ng-show="soupLength > 0">
			<accordion-heading>Soups</accordion-heading>
			<div class="list-group" id="recipeSoups">
				<p class="input-group clearfix" ng-repeat="rec in recipeSoups | orderByPriority">
					<span class="form-control"><a href="#/myRecipes/{{soupType}}/{{rec.$id}}">{{rec.name}}</a></span>
					<span class="input-group-btn">
						<a class="btn btn-primary" href="#/myRecipes/edit/{{soupType}}/{{rec.$id}}">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button type="button" class="btn btn-danger" ng-click="deleteRecipe(rec.$id, rec.name, soupType)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</span>
				</p>
			</div>
		</accordion-group>
		<accordion-group ng-show="saladLength > 0">
			<accordion-heading>Salads</accordion-heading>
			<div class="list-group" id="recipeSalads">
				<p class="input-group clearfix" ng-repeat="rec in recipeSalads | orderByPriority">
					<span class="form-control"><a href="#/myRecipes/{{saladType}}/{{rec.$id}}">{{rec.name}}</a></span>
					<span class="input-group-btn">
						<a class="btn btn-primary" href="#/myRecipes/edit/{{saladType}}/{{rec.$id}}">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button type="button" class="btn btn-danger" ng-click="deleteRecipe(rec.$id, rec.name, saladType)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</span>
				</p>
			</div>
		</accordion-group>
		<accordion-group ng-show="entreeLength > 0">
			<accordion-heading>Entrees</accordion-heading>
			<div class="list-group" id="recipeEntrees">
				<p class="input-group clearfix" ng-repeat="rec in recipeEntrees | orderByPriority">
					<span class="form-control"><a href="#/myRecipes/{{entreeType}}/{{rec.$id}}">{{rec.name}}</a></span>
					<span class="input-group-btn">
						<a class="btn btn-primary" href="#/myRecipes/edit/{{entreeType}}/{{rec.$id}}">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button type="button" class="btn btn-danger" ng-click="deleteRecipe(rec.$id, rec.name, entreeType)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</span>
				</p>
			</div>
		</accordion-group>
		<accordion-group ng-show="dessertLength > 0">
			<accordion-heading>Desserts</accordion-heading>
			<div class="list-group" id="recipeDesserts">
				<p class="input-group clearfix" ng-repeat="rec in recipeDesserts | orderByPriority">
					<span class="form-control"><a href="#/myRecipes/{{dessertType}}/{{rec.$id}}">{{rec.name}}</a></span>
					<span class="input-group-btn">
						<a class="btn btn-primary" href="#/myRecipes/edit/{{dessertType}}/{{rec.$id}}">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button type="button" class="btn btn-danger" ng-click="deleteRecipe(rec.$id, rec.name, dessertType)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</span>
				</p>
			</div>
		</accordion-group>
		<accordion-group ng-show="drinkLength > 0">
			<accordion-heading>Drinks</accordion-heading>
			<div class="list-group" id="recipeDrinks">
				<p class="input-group clearfix" ng-repeat="rec in recipeDrinks | orderByPriority">
					<span class="form-control"><a href="#/myRecipes/{{drinkType}}/{{rec.$id}}">{{rec.name}}</a></span>
					<span class="input-group-btn">
						<a class="btn btn-primary" href="#/myRecipes/edit/{{drinkType}}/{{rec.$id}}">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button type="button" class="btn btn-danger" ng-click="deleteRecipe(rec.$id, rec.name, drinkType)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</span>
				</p>
			</div>
		</accordion-group>
	</accordion>
</div>

<p ng-show="allEmpty">
	It looks like you don't have any recipes. <a href="#/addRecipe">Click Here</a> to add your first one!
</p>
