<div class="row page-header clearfix">
	<h2 class="pull-left">Your Recipe Book</h2>
	<a ui-sref="addRecipe" class="btn btn-primary pull-right">Add New <b class="glyphicon glyphicon-plus-sign"></b></a>
</div>
<alert ng-repeat="alert in alerts" type="alert.type" close="deleteAlert($index)">{{alert.msg}}</alert>

<div class="row">
	<div recipe-list ng-model="appetizerList"></div>
	<div recipe-list ng-model="soupList"></div>
	<div recipe-list ng-model="saladList"></div>
	<div recipe-list ng-model="entreeList"></div>
	<div recipe-list ng-model="dessertList"></div>
	<div recipe-list ng-model="drinkList"></div>
</div>

<p ng-show="allEmpty">
	It looks like you don't have any recipes. <a href="#/addRecipe">Click Here</a> to add your first one!
</p>