<div ng-show="ngModel.length" class="table-responsive">
	<table class="table table-hover table-bordered table-condensed">
		<thead>
			<td>Recipe Name</td>
			<td>Recipe Category</td>
			<td>Edit</td>
			<td>Delete</td>
		</thead>
		<tbody>
			<tr ng-repeat="rec in ngModel">
				<td><a ui-sref="recipes.details({recipeId: rec.$id})">{{rec.name}}</a></td>
				<td>{{rec.type}}</td>
				<td>
					<a class="btn btn-xs btn-primary" ui-sref="addRecipe">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
				</td>
				<td>
					<button type="button" class="btn btn-xs btn-danger" ng-click="deleteRecipe(rec, rec.name)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
